<h1>DataSift Elements</h1>
<table id="master_table">
	<thead>
		<tr>
			<th>Path</th>
			<th>Data Type</th>
			<th>Description</th>
			<th>Last Seen</th>
		</tr>
	</thead>
	<tbody>
		<% @elements.each do |e| -%>
		<tr>
			<td><%= e.fullpath.gsub("."," &rarr; ").html_safe -%></td>
			<td><%= e.datatype -%></td>
			<td><%= e.description -%></td>
			<td><%= e.updated_at -%></td>
		</tr>
		<% end %>
	</tbody>
</table>

<script>
$(document).ready(function() {
    $('#master_table').dataTable( {
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": true,
        "bSort": true,
        "bInfo": false,
        "bAutoWidth": true
    } );
} );
</script>